.table-container {
    margin-bottom: 100px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px, solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.add-user {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 900px;
    font-size: larger;
}




.icon-button {
    padding: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}


.remove-icon {
    padding: 0 10px;
    background-color: #b0acac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}